@charset "UTF-8";
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-family: "Rokkitt", serif;
}

.header {
  height: 72px;
  margin-bottom: 2px;
}

.container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 96px;
  text-align: center;
  align-items: center;
}

.logo-box {
  grid-column: 2;
}

.web-logo {
  height: 70px;
}

/*****************************************/

.btn {
  padding: 12px;
  background-color: rgb(77, 77, 143);
  border-radius: 20px;
  border: none;
  cursor: pointer;
}

.btn:hover {
  background-color: rgb(49, 49, 107);
}

.icon {
  font-size: 14px;
}

.horizontal {
  border-top: 1px solid #ddd;
}

/*
          navigation section
          
          */

.nav {
  height: 50px;
  display:flex;
}

.navigation {
  padding: 15px;
  font-size: 18px;
  margin: 0 auto;
  display:flex;
}

.nav-li {
  list-style: none;
  margin-right:48px;
}

.nav-link:link,
.nav-link:visited {
  text-decoration: none;
  color: #555;
  font-weight: bold;
}

.nav-link:hover,
.nav-link:active {
  color: #aaa;
}

/*
        section design
    */

.section {
  margin: 24px;
}

.container-header {
  margin-bottom: 24px;
}

.head {
  color: rgb(36, 123, 194);
  padding-left: 24px;
}

.table {
  border: 1px solid #fff;
  /* border-collapse: collapse; */
  width: 100%;
  font-weight: 500;
  text-align: center;
  margin-bottom: 48px;
}

.book-img {
  height: 100px;
  width: 130px;
  border-radius: 3px;
}

th {
  background-color: #333;
  padding: 10px;
  color: white;
}

td a:link,
td a:visited {
  text-decoration: none;
  color: #555;
}
td a:hover,
td a:active {
  color: #444;
}
tr:nth-child(odd) {
  background-color: #ccc;
}

tr:nth-child(even) {
  background-color: #eee;
}
td {
  padding: 10px;
}

/*
        footer-section
    */
.footer {
  background-color: #eee;
  text-align: center;
}

.footer p {
  color: rgb(36, 123, 194);
  padding: 24px;
  font-size: 14px;
  font-weight: 500;
}

.wp-link:link,
.wp-link:visited {
  color: rgb(36, 123, 194);
  text-decoration: none;
}

.wp-link:hover,
.wp-link:active {
  color: rgb(125, 197, 255);
}


.error {
  font-weight: 700;
  background-color: #f96868;
  padding: 10px;
  color:#444;
}
